/* Verberg elementen die niet afgedrukt hoeven te worden */
@media print {
    .no-print {
      display: none !important;
    }
  }
  
  /* Zorg voor een minimale afstand van 15 mm vanaf de pagina's rand*/
  @page {
    margin: 15mm;
  }
  
  /* Geef links weer als de URL */
  a:link:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  
  /* Zorg ervoor dat afbeeldingen en tabellen binnen de paginamarges blijven */
  img, table {
    page-break-inside: avoid;
  }
  
  /* Verwijder achtergrondafbeeldingen en kleuren */
  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    background-color: transparent !important;
    background-image: none !important;
    color: black !important;
  }
